/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/01/2017, 02:15:42 PM
    Author     : Junior Cabal
*/
body{
    font-size: 16px !important;
}
.img-logo{
    width: 90%;

}
.ui-analog-clock {
    background: none !important; 
    border: none  !important; 
    color: #fffff5  !important;
    width: 200px;
}
.letra-menu{
    font-size: 1.6em;
    font-weight: bold;
}
.ui-widget {
    font-size: .9em !important;
}
.ui-paginator .ui-paginator-top .ui-widget-header .ui-corner-top{
    border-radius: 0 !important;
}
.ui-corner-top{
    border-radius: 0 !important;
}

ui-datatable ui-column-filter1{
    position: relative !important;
    margin-top: 17px !important;
}

.ui-inputfield {
    margin: 0;
    outline: medium none;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-right: 20px !important;
    width: 100% !important;
    font-weight: normal;
    border: 1px solid lightgray !important;
}
.img-itemManual{
    display: block !important;
    margin: 0px auto !important;
    height: 20em;
}
.img-selecion{
    top: 0 !important;
    left: 25% !important;
    position: absolute !important;
    height: 100% !important;
    width: 50% !important;

}
.ui-panel{
    margin-bottom: 1em !important;
}
.ui-growl-title {
    width: 100% !important;
    font-size: 2em !important;
    font-weight: bold !important;
}
.ui-growl { 
    position: absolute !important;
    z-index: 99999 !important;
}

.fc-grid .fc-event-time{
    display: none !important;
}
.message-growl{
    margin-top: 10em !important;
}
.panel-login{
    background: #FFFFFF;
    position: absolute;
    z-index: 40;
    border-radius: 0px;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.1), 0 10px 30px 0 rgba(0,0,0,0.2);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1),-webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    margin: -12.8125em 0 0;
    width: 23em;
    left: 5em;
    top: 60%;
    padding: 1em
}
.group { 
    position: relative; 
    margin-bottom: 45px; 
}

.input-login {
    font-size: 18px !important;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: #00a65a;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #00a65a !important;
}

.input-login:focus { 
    outline: none;
    border-bottom: 2px solid #00a65a !important;
}


/* Label */

.label-login {
    color: #999; 
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: all 0.2s ease;
}


/* active */

.input-login:focus ~ .label-login, .input-login.used ~ .label-login {
    top: -20px;
    transform: scale(.75); left: -2px;
    /* font-size: 14px; */
    color: #00a65a !important;
}


/* Underline */

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before, .bar:after {
    content: '';
    height: 2px; 
    width: 0;
    bottom: 1px; 
    position: absolute;
    background: #00a65a !important; 
    transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

.input-login:focus ~ .bar:before, .input-login:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
    position: absolute;
    height: 60%; 
    width: 100px; 
    top: 25%; 
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}


/* active */

.input-login:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
}
.input-login{
    background: white !important;
}

/* Animations */

@keyframes inputHighlighter {
    from { background: #00a65a; }
    to 	{ width: 0; background: transparent; }
}


/* Button */

.button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    width: 100%;
    vertical-align: middle;
    color: #fff;
    line-height: 20px;
    text-align: center;
    background: transparent;
    border: 0;
    font-size: 1.5em !important;
    border: 2px solid #00a65a;
    cursor: pointer;
    transition: all 0.15s ease;
}
.button:focus { outline: 0; }


/* Button modifiers */

.buttonBlue {
    background: #00a65a;
    border: 2px solid #00a65a;
}

.buttonBlue:hover { 
    color: #00a65a; 
    background: white; 
    border: 2px solid #00a65a;
}


/* Ripples container */

.ripples {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
}


/* Ripples circle */

.ripplesCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
    animation: ripples .4s ease-in;
}


/* Ripples animation */

@keyframes ripples {
    0% { opacity: 0; }

    25% { opacity: 1; }

    100% {
        width: 200%;
        padding-bottom: 200%;
        opacity: 0;
    }
}
.itemZoom {
    position: relative;
    margin: 2%;
    overflow: hidden;
}
.itemZoom img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.5s;
}
.itemZoom:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.select-menuPrimefaces{
    width: 100% !important;
    border: none !important;
}
.letra-size{
    font-size: 1.2em !important;
}
.boton-prime{
    font-size: 1.22em !important;
    height: 2em;
    width: 100%;
}
.botonGuardar{
    font-size: 1.22em !important;
    height: 2em;
    width: 100%;
    background: #3eb422 !important; 
}
.botonGuardar:hover{
    background: rgba(0,0,0,0);
    color: #1E90FF;
    box-shadow: inset 0 0 0 3px;
}
.color1{
    background-color: red ;
    background: lightgreen !important;
    background-image: none;
}
.color2{
    font-weight: bold;
    background-color: lightcoral;
    background-image: none;

}
.color3{
    background-color: lightyellow;
    background-image: none;
}
.boton-inicioSesion{
    color: white; 
    background: rgba(255,255,255,0.3);
    border: 1px solid white; 
    margin-top: 5px;
    border-radius: 0px !important;
    text-shadow: none !important;
    font-size: 18px !important;
    width: 120px !important;

}
.boton-inicioSesion:hover{
    color: white; 
    background: dodgerblue !important;
}
.ui-datascroller-inline, .ui-datascroller-content{
    background: rgba(0,0,0,0) !important;
    border: rgba(0,0,0,0) !important;
}
.panel-cumpleanos{
    border:0px !important; 
    border-radius: 0 !important;
    background: none;
    height: 350px;
    position: absolute;
    z-index: 40;
    right: 50px;
    top: 20%;
    width: 700px
}
.panel-cumpleanos:hover{
    -webkit-box-shadow: -1px 0px 28px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 28px 3px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 28px 3px rgba(0,0,0,0.75);
    border: 1px solid #3a192e;
}
.panel-proyectos{
    border:0px !important; 
    border-radius: 0 !important;
    background: white;
    height: 520px;
    position: absolute;
    z-index: 40;
    right: 50px;
    top: 20%;
    width: 680px
}
.panel-proyectos:hover{
    -webkit-box-shadow: -1px 0px 28px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 28px 3px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 28px 3px rgba(0,0,0,0.75);
    border: 1px solid #3a192e;
}
.panel-protocolo{
    border:0px !important; 
    border-radius: 0 !important;
    background: none;
    height: 350px;
    position: absolute;
    z-index: 40;
    right: 230px;
    top: 29%;
    width: 670px
}
.panel-protocolo:hover{
    -webkit-box-shadow: -1px 0px 28px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 28px 3px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 28px 3px rgba(0,0,0,0.75);
    border: 1px solid #3a192e;
}
.btn-cancelar{
    background: darkorange;
    height: 41px;
    color: white;
    border-radius: 0px !important;
}
.btn-cancelar:hover{
    background: orange;
    color: white;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    text-shadow: none !important; 
    border-radius: 0px !important;
}
.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield{
    border-radius: 0 !important;
    padding: 6px !important;
}
.panel{
    border-radius: 0 !important;
}
.panel-heading{
    border-radius: 0 !important;
}
.CAMBIO_COMPONENTE{
    background: #9491c4 !important;
    color: black !important;
    padding: 10px 0!important;
    border-radius: 0px !important;
    font-size: 0.7em;
}
.CAMBIO_COMPONENTE:hover{
    background: #7a869d !important;
    color: white !important;
    padding: 10px 0!important;
    border-radius: 0px !important;
    font-size: 0.7em;
}
.USO_EQUIPOS{
    background: #9491c4 !important;
    color: black !important;
    padding: 10px 0!important;
    border-radius: 0px !important;
    font-size: 0.7em;
}
.USO_EQUIPOS:hover{
    background: #7a869d !important;
    color: white !important;
    padding: 10px 0!important;
    border-radius: 0px !important;
    font-size: 0.7em;
}
.MANTENIMIENTO_PREVENTIVO{
    background: lightblue !important; 
    color: black !important;
    padding: 10px 0!important;
    border-radius: 0px !important;
    font-size: 0.7em;
}
.MANTENIMIENTO_PREVENTIVO:hover{
    background: #337AB7 !important; 
    color: white !important;
    padding: 10px 0!important;
    border-radius: 0px !important;
}
.MANTENIMIENTO_CORRECTIVO, .MANTENIMIENTO_CORRECTIVO .fc-event-skin, .MANTENIMIENTO_CORRECTIVO a{
    background: lightcoral !important; 
    color: black !important;
    padding: 10px 0!important;
    border-radius: 0px !important;
    font-size: 0.7em;
}
.MANTENIMIENTO_CORRECTIVO:hover{
    background: red !important; 
    color: white !important;
    padding: 10px 0!important;
    border-radius: 0px !important;
}

.MANTENIMIENTO_CORRECTIVO_Y_PREVENTIVO, .MANTENIMIENTO_CORRECTIVO_Y_PREVENTIVO .fc-event-skin, .CORRECTIVO_Y_PREVENTIVO a{
    background: darkorange !important; 
    color: white;
    border: 1px solid darkorange;
}

.FALLO_DE_ERP_ABIERTO, .FALLO_DE_ERP_ABIERTO .fc-event-skin, .FALLO_DE_ERP_ABIERTO a{
    background: lightgoldenrodyellow !important; 
    color: black !important;
    font-size: 0.7em;
    padding: 10px 0!important;
    border-radius: 0px !important;
}
.FALLO_DE_ERP_ABIERTO:hover{
    background: orange!important; 
    color: white !important;
    font-size: 0.7em;
    padding: 10px 0!important;
    border-radius: 0px !important;
}

.MANTENIMIENTO_REVISION, .MANTENIMIENTO_REVISION .fc-event-skin, .MANTENIMIENTO_REVISION a{
    background: lightcoral !important; 
    color: black !important;
    padding: 10px 0!important;
    border-radius: 0px !important;
    font-size: 0.7em;
}

.MANTENIMIENTO_REVISION:hover{
    background: greenyellow !important; 
    color: white !important;
    padding: 10px 0!important;
    border-radius: 0px !important;
}

.SOLICITUD_CANCELADA{
    background: lightgray !important; 
    color: black !important;
    padding: 10px 0!important;
    border-radius: 0px !important;
    font-size: 0.8em;
}
.RESERVADA{
    background: lightgreen !important; 
    color: black !important;
    padding: 10px 0!important;
    border-radius: 0px !important;
    font-size: 0.8em;
}

.RESERVADA:hover{
    background: #337AB7 !important; 
    color: white !important;
    padding: 10px 0!important;
    border-radius: 0px !important;
}
.SOLICITUD{
    background: salmon !important; 
    color: black !important;
    padding: 10px 0!important;
    border-radius: 0px !important;
    font-size: 0.8em;
}

.SOLICITUD:hover{
    background: red !important; 
    color: white !important;
    padding: 10px 0!important;
    border-radius: 0px !important;
    font-size: 0.8em;
}

.DAÑO_INFRAESTRUCTURA{
    background: lightcoral !important; 
    color: black !important;
    font-size: 0.8em;
    padding: 10px 0!important;
    border-radius: 0px !important;
}
.DAÑO_INFRAESTRUCTURA:hover{
    background: red !important; 
    color: white !important;
    padding: 10px 0!important;
    border-radius: 0px !important;
}
.INCONSISTENCIA_ASEO{
    background: lightgoldenrodyellow !important; 
    color: black !important;
    font-size: 0.8em;
    padding: 10px 0!important;
    border-radius: 0px !important;
}
.INCONSISTENCIA_ASEO:hover{
    background: orange!important; 
    color: white !important;
    font-size: 0.8em;
    padding: 10px 0!important;
    border-radius: 0px !important;
}
.ACTIVIDAD_PROGRAMADA{
    background: lightblue !important; 
    color: black !important;
    font-size: 0.8em;
    padding: 10px 0!important;
    border-radius: 0px !important;
}
.ACTIVIDAD_PROGRAMADA:hover{
    background: #337AB7 !important; 
    color: white !important;
    font-size: 0.8em;
    padding: 10px 0!important;
    border-radius: 0px !important;
}

.fc-time{
    display: none !important;
}
.fc-ltr .fc-basic-view .fc-day-number{
    font-size: 0.8em !important; 
}
.logo-index{
    -webkit-transition: opacity .4s ease;
    transition: opacity .4s ease;
    position: absolute;
    z-index: 40;
    left: 18px;
    top: 8px;
}
.botones-izquierdaIndex{
    -webkit-transition: opacity .4s ease;
    transition: opacity .4s ease;
    position: absolute;
    z-index: 40;
    right: 18px;
    top: 8px;
}
.panel-logoIndex{
    -webkit-transition: opacity .4s ease;
    transition: opacity .4s ease;
    position: absolute;
    z-index: 40;
    left: 50px;
    top: 8px;
}
.panel-ayuda{
    -webkit-transition: opacity .4s ease;
    transition: opacity .4s ease;
    position: absolute;
    z-index: 40;
    right: 70px;
    top: 18px;
}

.panel-procesosEstrategicos{
    margin: 2em 1em 0;
    padding: .5em 1em 1em;
    background: rgba(85, 118, 124, 0.3);
    text-align: center;
}

.panel-procesosMisionales{
    margin: 2em 1em 0;
    padding: .5em 1em 1em;
    background: rgba(51, 122, 183, 0.3);
    text-align: center;
}
.panel-procesosApoyo{
    margin: 2em 1em 0;
    padding: .5em 1em 1em;
    background: rgba(255, 140, 0, 0.3);
    text-align: center !important;
}
.panel-adminsionesRegistros{
    background: white;
    color: black;
    text-align: center;
    padding: 2em;
    border: 1px solid rgba(51, 122, 183, 1);
    display: inline-block;
}
.panel-adminsionesEducacion{
    background: white;
    color: black;
    text-align: center;
    padding: 1em;
    border: 1px solid rgba(51, 122, 183, 1);
    display: block;
    margin-bottom: 1em;
}

.ui-datatable tbody td.wrap {
    white-space: normal !important;
    word-wrap: break-word;
}

.container-idea{
    -webkit-box-shadow: 3px 3px 19px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 19px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 19px 0px rgba(0,0,0,0.75);
    text-align: center;
}
.idea-message{
    text-align: justify;
    background: #396bd7;
    border-radius: 0px;
    color: white;
    padding: 1em;
}
.idea-banco{
    text-align: justify;
    background: #396bd7;
    -moz-border-radius: 0px 15px 13px 16px;
    -webkit-border-radius: 0px 15px 13px 16px;
    padding: 2em;

}
.ui-progressbar {
    height: 1.8em;
    text-align: left;
    position: relative;
}
.ui-progressbar .ui-progressbar-value {
    border: 1px solid #559e1b;
    background: #a5ff7e;
    margin-top: 0.1px;
    margin-left: 0.1px;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{
    color: black !important;
}
.tamanoDes{
    width: 330px !important;
}
.direccion{
    margin-left: 5px;
}
.direccion2{
    float:right !important;
}
.head{
    margin: 0px !important;
    border: -10px !important;
    background: black;
    padding-top: .5px;
}
.head2{
    margin: 0px !important;
    border: -10px !important;
    width: 800px;
    height: 70px;
    background: black;
}
.titulo{
    padding: 10px; 
} 
.titulo1{
    margin-top: 10px;
    margin-bottom: 1px;
    margin-left: 10px;
    color: #0cf554; 
}     
.titulo2{
    margin: 0px;
    margin: 0px 10px;
    color: #d7d7d7;
}
.titulo3{
    margin-top: 10px;
    margin: 0px 10px;
    color: black;
    text-align: center;
}
.contenedor1{
    margin-top: 10px;
    border: 3px solid #828282;
    border-top: 0;
    text-align: left;
}
.contenedor2{
    margin-top: 10px;
}
.contenedor3{
    margin-top: 10px;
    border: 3px solid #828282;
}
.contenedor4{
    margin-top: 10px;
    width: 50%; 
    display: inline-block;
    vertical-align: top;
}
.contenedor5{
    margin-top: 5px;
}
.tituloContenedor1{
    margin: 0px;
    background-color: #828282;
    color: white;
    font-weight: bold;
    padding: 5px;
}
.cuerpoContenedor1{
    color: black;
}
.parrafo-contenedor{
    font-size: .7em;
    margin-left: 5px;
    margin-top: 5px;
}
.parrafo-contenedorElaborado{
    font-size: .8em;
    margin-top: 8px;
}
.parrafo-contenedorAprobado{
    font-size: .8em;
    margin-top: 8px;
    color: #ecf0f5;
}
.cuerpoContenedor4{
    width: 50%;
    display: inline-block;
}
.cuerpoContenedor3{
    width: 45%;
    display: inline-block;
    vertical-align: top;
}
.footer-contenedor{
    background: black;
    margin-bottom: 0px;
}
.footer-parrafo1{
    display: inline-block;
    width: 200px
}
.footer-img1{
    margin: 10px;
}
.footer-parrafo2{
    vertical-align: top;
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    font-size: .7em;
    display: inline-block;
    width: 300px
}
.footer-parrafo3{
    text-align: center;
    vertical-align: top;
    color: white;
    margin-left: 20px;
    margin-top: 30px;
    font-size: .7em;
    color: white;
    border-left: 2px solid white;
    display: inline-block;
    width: 100px
}
.body-contenedor{
    font-size: 1.5em;
}
.body-contenedor2{
    height: 910px; 
}
.cuerpoContenedorImg{
    border-top: 3px solid #828282;
    text-align: center;
}
.contenedor-img{
    margin-top: 5px;
    margin-bottom: 20px;
    display: inline-block;
}
.contenedor-imgCa{
    margin: 5px;
    width: 200px;
    height: 100px;
    display: inline-block;
}
.imagenesTop{
}

.tituloContenedorElaborado{
    text-align: center;
    margin: 0px;
    background-color: #828282;
    color: white;
    font-weight: bold;
    padding: 5px;
}
.contenedorElaborado{
    display: inline-block;
    border: 3px solid #828282;
    text-align: center;
    width: 250px;
}
.cuerpo-elaborado{
    margin-top: 10px;
}

.parrafo-elaborado{
    font-size: .8em;
    margin-left: 5px;
    margin-top: 5px;
    font-weight: bold; 
}
.labelInfo{
    font-size: 1.2em; 
}
.ui-dialog .ui-dialog-title {
    font-size: 2em !important;
    margin: 0;
}
.ui-dialog .ui-dialog-titlebar{
    padding: 0 !important;
}
.ui-widget-content .ui-datalist-content{
    border: none;
    background: transparent;
    background-image: none;
}
.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger {
    border-right: 0 !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
    cursor: pointer !important;
    width: 25px !important;
    height: 100% !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    padding: 3px 3px !important;
}
.ui-selectonemenu .ui-selectonemenu-trigger {
    border-right: 0 !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
    cursor: pointer !important;
    width: 26px !important;
    height: 100% !important;
    position: absolute !important;
    right: 0!important;
    top: 0 !important;
    padding: 3px 3px !important;
}
.form-control-au{
    overflow: hidden !important;   
    word-wrap: break-word !important;   
    height: 38px !important;
}

btn-block:hover {
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
}

form-group{
    margin-bottom: 8px !important;
}

.MANTENIMIENTO_REVISADO, .MANTENIMIENTO_REVISADO .fc-event-skin, .MANTENIMIENTO_REVISADO a{
    background: #ffe600 !important; 
    color: black !important;
    padding: 10px 0!important;
    border-radius: 0px !important;
    font-size: 0.7em !important;
}

.MANTENIMIENTO_REVISADO:hover{
    background: #14d0cc !important; 
    color: white !important;
    padding: 10px 0!important;
    border-radius: 0px !important;
}


@media only screen and (min-width: 1220px) {
    buttoms {
        left: 29% !important;

    }
}
